# Postgres credentials
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# Connection strings for the databases
Profiles__DbConnection=""
Appointments__DbConnection=""

# Redis
Appointments__RedisConnection=""

# Certificate
CERT_PASSWORD=""

# GitHub Packages Token
NUGET_TOKEN=""

# Windows version
#HOST_CERT_PATH=${USERPROFILE}/.aspnet/https

# Linux version
# HOST_CERT_PATH=~/.aspnet/https
