# Connection strings for the databases
Profiles__DbConnection=""
Appointments__DbConnection=""

# Redis
Appointments__RedisConnection=""

# Certificate
CERT_PASSWORD=""

# Windows version
#HOST_CERT_PATH=${USERPROFILE}/.aspnet/https

# Linux version
# HOST_CERT_PATH=~/.aspnet/https
